.signup_contents{
    position: relative;
    bottom: 86px;
    padding: 20px;
    z-index: 1;
}

.signup_header{
    width: 390px;
}

.signup_footer{
    position: relative;
    bottom: 153px;
    width: 390px;
    z-index: 0;
}

.signup{
    overflow: hidden;
}